@import '../../../styles/variables';
.input {
  margin-top: 30px;
  position: relative;
  width: 100%;
  input {
    display: block;
    outline: none;
    width: 100%;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 10px;

    *::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #444150;
      opacity: 0.5;
    }
  }

  span {
    color: $login-link-color;
  }

  .svgColor {
    fill: $svg-color;
  }

  .phoneNum {
    display: flex;
    
    .regCode {
      width: 48px;
      height: 48px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 6px 0 0 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
     

    input {
      border-radius: 0 6px 6px 0;
    }
  }

  p {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444150;
    margin-bottom: 8px;
  }

  button {
    position: absolute;
    right: 18px;
    top: 47px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: transparent;
  }
}
