@import '../../styles/variables';

.profile {
  overflow-y: scroll;
  width: 100%;
  background: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
  padding-right: 0;
  margin-right: 20px;

  h3 {
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #000000;
    margin-top: 30px;
    text-align: center;
  }

  .rightBlock {
    margin-left: 20px;
    max-width: 600px;
    width: 100%;

    .title {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      margin-left: 10px;
      color: #1e1e1f;
    }

    .item {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      padding: 20px;
      height: 90px;
      background: #fff;
      border-radius: 8px;
      margin-bottom: 15px;
      max-width: 625px;
      color: #000000;
      justify-content: space-between;

      img {
        width: 70px;
        height: 45px;
        border-radius: 2px;
        margin-right: 20px;
      }

      .location {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          display: flex;
          align-items: center;
          color: #000000;
          margin: 0;
        }

        p:last-child {
          margin-top: 10px;
        }
      }
    }
  }

  .leftBlock {
    padding: 40px;
    width: 420px;
    background: #ffffff;
    border-radius: 8px;

    .points {
      margin: 0 auto;
      width: 350px;
      height: 100%;
      background: $profile-bg-color;
      border-radius: 18px;
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      align-items: center;

      &:last-child {
        margin-top: 30px;
      }

      .name {
        max-width: 200px;
        line-break: anywhere;
      }
    }

    .avatar {
      display: block;
      margin: 0 auto;
      width: 130px;
      height: 130px;
      border-radius: 18px;
    }

    h4 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: -0.33px;
      color: #000000;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    width: 1px;
    border: 1px solid #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid #c4c4c4;
    border-radius: 20px;
  }
}
.contact {
  display: flex;
  align-items: center;
  .infomation {
    margin-left: 15px;
    width: 300px;
    span {
      margin-bottom: 5px;
    }

    p {
      margin: 0;
    }
  }
  margin-top: 20px;
}

.avatarBlock {
  display: flex;
  justify-content: space-between;
  gap: 10%;

  h3 {
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
    p {
      padding: 0;
      margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 34px;
      margin-top: 33px;

      letter-spacing: -0.33px;

      color: #c4c4c4;
    }
  }
}

.mainUserData {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  svg {
    width: 50px;
    height: 50px;
  }

  span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.33px;
    color: #000000;
  }

  p {
    margin: 0;
    margin-top: 11px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.33px;
    color: #585858;
  }
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  word-break: break-all;
  span {
    color: #c4c4c4;
  }
}

.achieves {
  // display: flex;
  // justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  max-width: 600px;
  padding: 40px;
  margin-bottom: 30px;
  max-height: 300px;
}

.inputBlock {
  width: 600px;
  background: #fff;
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 8px;
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #c4c4c4;

    div {
      display: flex;
      width: 352px;
      justify-content: space-between;

      .day {
        width: 51px;
        position: relative;
        bottom: 0;
        svg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .birth {
        width: 100px;

        &:last-child {
          width: 72px;
        }
      }
    }

    input {
      outline: none;
      width: 352px;
      border: 0;
      border-bottom: 1px solid #c4c4c4;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      padding-bottom: 10px;
      color: #000000;
      margin-bottom: 20px;

      &:disabled {
        background-color: #fff;
      }
    }
  }
}

.customSelect {
  :global {
    .ant-select-selector {
      padding: 0 !important;
      border: 0 !important;
      border-bottom: 1px solid #c4c4c4 !important;
      outline: none !important;
      width: 352px !important;
      border: 0 !important;
      border-bottom: 1px solid #c4c4c4 !important;
      font-family: 'Roboto' !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 18px !important;
      line-height: 21px !important;
      padding-bottom: 10px !important;
      color: #000000 !important;
      margin-bottom: 20px !important;
    }

    .ant-select-selection-search {
      width: 100%;
      z-index: 1000;
    }

    .ant-select-selection-item {
      height: 200%;
    }

    .ant-select-arrow {
      display: none !important;
    }
  }
}

.content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  span {
    width: 125px;
    display: flex;
    align-items: center;
  }
}

.svgColor {
  fill: $svg-color;
}

@media (max-width: 1280px) {
  .profile {
    background-color: #fff;
    padding: 0;
    justify-content: center;
    margin: 0;

    .inputBlock {
      padding: 0;
      width: auto;
      label {
        flex-direction: column;
        position: relative;
        padding-top: 20px;
        span {
          position: absolute;
          left: 0;
          top: 0;
        }

        div {
          width: 100%;

          .day {
            width: 51px;
            position: relative;
            bottom: 0;
            svg {
              position: absolute;
              left: 0;
              top: 0;
            }
          }

          .birth {
            width: 100px;
          }
        }

        input {
          width: 100%;
        }
      }
    }
  }
}
