.achieve {
  width: 115px;
  margin: 0 auto;
}

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.33px;
  color: #000000;
  margin: 0;
}
