$text-color: rgb(255, 255, 255);
$bg-color: rgba(232, 90, 230, 0.824);

$svg-color: #6495ED;

// * links
$link-color: black;
$link-color-hover: #6495ED;

// * buttons
$button-border: #6495ED;
$button-color: #6495ED;
$button-bg-hover: #6495ED;
$button-color-hover: #fff;

// * vacansies
$vacan-text-color: #6495ED;
$vacan-bg-color: #D0D9F2;

// * navigation
$nav-text-color: #6495ED;
$nav-bg-color: #D0D9F2;

// * profile
$profile-bg-color: #D0D9F2;

// * login
$login-prod-name: #6495ED;
$login-link-color: #6495ED;
$login-link-hover: #035bff;

// * rating
$rating-numbers: #6495ED;