@import '~antd/dist/antd.css';
@import './variables';

html,
body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 1px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.site-layout-background {
  background: #fff;
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  line-height: 1.5715;
}

[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
  font-size: 14px;
  line-height: 1.66667;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

[data-theme='dark'] .site-description-item-profile-p {
  color: rgba(255, 255, 255, 0.85);
}

[data-theme='dark'] .site-description-item-profile-wrapper {
  color: rgba(255, 255, 255, 0.65);
}
